<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />

<% article.comments.forEach(comment => { %>
  <p>
    "<%= comment.content %>" -
    <%= comment.name %>
  </p>
<% }) %>


<form method="POST" action="/articles/<%= article.id %>/comment">
  <input type = "text" placeholder = "Name" name="name">
  <input type = "text" placeholder = "Comment" name="content">
  <button type="submit" class="btn btn-success">Post</button>
</form>


<a href="/">&larr; Back Home</a>
